<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{../css/style.css}" href="../css/style.css"/>
    <!--        <link rel="stylesheet" href="../css/fontawesome.min.css">-->
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{../css/bootstrap.min.css}" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{../css/bootstrap.bundle.min.js}" href="../css/bootstrap.bundle.min.js"/>
    <title>Title</title>
</head>
<body>
<div class="footer_blog_section" id="footer" th:fragment="footer">
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
            <div class="footer_blog_section">
                <img src="imgs/Blauw%20Lotus%20Massage%20Logo.png" alt="#"/>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-12">
            <div class="item">
                <h4 class="text-uppercase">Navigation</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Location</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Features</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
            <div class="item">
                <h4 class="text-uppercase">Contact Info</h4>
                <p><strong>Corporate Office Address:</strong></p>
                <p><img src="imgs/phone_icon.png" alt="#"/> 1234 River Street New York, NY 36524</p>
                <p><strong>Customer Service:</strong></p>
                <p><img src="imgs/location.png" alt="#"/> 987 654 3210</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
            <div class="item">
                <h4 class="text-uppercase">Discover</h4>
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">How It Works</a></li>
                    <li><a href="#">Subscribe</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="copyright text-center">
    <p>Copyright 2022 Design by Ines</p>
</div>
</div>
</body>
</html>