body{
    background-color: white;
}
main{
    background-color: #e0ffff;
}
button.btn-default{
    display: block;
    background: white;
    margin: 10px auto;
    width: 400px;
    font-size: 1.2em;
    padding: 1em;
    text-align: center;
    align-content: center;
}
.clientTabel{
    align-content: center;
}
a{
    text-decoration: none;
    color: black;
}
.prevButton{
    padding-left: 2px;
    padding-right: 2px;
    float: left;
    border: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;
    margin-bottom: 10px;
}
.NextButton{
    padding-left: 2px;
    padding-right: 2px;
    float: right;
    border: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;

}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 360px;
    left: -5px;

}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
.navbartj{
    display: inline-block;
    background: white;
    margin-right: 5px;
    padding: 5px;
    text-align: center;
    border: solid;
    border-color: black;
    border-width: 1px;
}

