body{
    background-color: white;
}
main{
    background-color: #e0ffff;
}
button.btn-default{
    display: block;
    background: white;
    margin: 10px auto;
    width: 400px;
    font-size: 1.2em;
    padding: 1em;
    text-align: center;
    align-content: center;
}
.clientTabel{
    align-content: center;
}
a{
    text-decoration: none;
    color: black;
}
.prevButton{
    padding-left: 2px;
    padding-right: 2px;
    float: left;
    border: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;
    margin-bottom: 10px;
}
.NextButton{
    padding-left: 2px;
    padding-right: 2px;
    float: right;
    border: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;

}
img{

}

