<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  STYLESHEET LINK TAGS -->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <!-- NAV -->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css"/> <!-- NAV -->


    <title>Zensational</title>
    <link rel="icon" type="image/x-icon" th:href="@{/imgs/lotus.png}">
</head>


<body>
<div class="achtergrondClientNew">
    <div class="white-overlay">
<div th:replace="fragments/header :: header">Header</div>
<main>

        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="table-client">
                        <h2>Bookings</h2>
                        <form>
                            <input type="submit" value="search" class="buttonLook filterButton"></input>
                            <div class="marginClass">
                                <label for="keyword" class="filtername"></label>
                                <input type="text" id="keyword" name="keyword" class="form-control rounded"
                                       placeholder="Search on name" aria-label="Search"
                                       aria-describedby="search-addon"/>
                                <span class="input-group-text border-0" id="keyword-addon"><i class="fas fa-search"></i></span>
                            </div>

                            <div class="marginClass">

                                <label for="roomName" class="filtername"></label>
                                <input type="text" id="roomName" name="roomName" class="form-control rounded"
                                       placeholder="Search on room" aria-label="Search"
                                       aria-describedby="postcode-addon"/>
                                <span class="input-group-text border-0" id="roomName-addon"><i
                                        class="fas fa-search"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div th:each="booking: ${allbookings}">

                        <a class="buttonLook mediumButton" th:href="@{|/booking/${booking.getId()}|}">
                            <span th:text="${booking.getDate()}"></span>
                            <div th:text="${booking.getRoom().getName()}"></div>
                            <div th:text="|${booking.getClient().getName()} ${booking.getClient().getLastName()}|"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</main>
        <footer>
            <div th:replace="fragments/footer :: footer">footer</div>
        </footer>
    </div>
</div>
</body>
</html>