<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{../css/style.css}" href="../css/style.css"/>
    <!--        <link rel="stylesheet" href="../css/fontawesome.min.css">-->
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{../css/bootstrap.min.css}" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{../css/bootstrap.bundle.min.js}" href="../css/bootstrap.bundle.min.js"/>
    <title>Zensational</title>
    <link rel="icon" type="image/x-icon" href="../imgs/favicon.ico">
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>

<div id="clientOpinion" class="hiw_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text_align_center">
                <h3>Our Client Say</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                    mattis, pulvinar dapibus leo.</p>
            </div>
            <div class="col-md-5">
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <div class="full testimonial_blog">
                    <p>Peter M.</p>
                    <p>Heerlijk genieten van de privé sauna met bubbels.
                        Heel hygiënisch ,strakke inrichting maar toch gezellig.
                        Vriendelijke uitbaters.
                        Eén van de betere privésauna's wat mij betreft.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-m-11">
                    <div class="full testimonial_blog">
                        <p>Peter M.</p>
                        <p>Heerlijk genieten van de privé sauna met bubbels.
                            Heel hygiënisch ,strakke inrichting maar toch gezellig.
                            Vriendelijke uitbaters.
                            Eén van de betere privésauna's wat mij betreft.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div th:replace="fragments/footer :: footer">footer</div>
</footer>

</body>
</html>