<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/style.css}" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{../bootstrap.min.css}" href="/css/bootstrap.min.css"/>
    <title>Clientlist</title>
</head>
<main>
    <div th:replace="fragments/header :: header">Header</div>

    <div class="clientTabel">
        <h2>Clients</h2>
        <div class="form-outline">
           <span th:text="min"></span><input type="search" id="form1" class="form-control" placeholder="0" aria-label="Search" /><span th:text="persons"></span>
        </div>
        <button type="button" class="btn btn-default" th:each="client: ${allclient}">
            <a th:href="@{|/client/${client.id}|}"
               th:text="|${client.getName()} ${client.getLastName()}|">client name</a>
        </button>
    </div>
</main>
<body>

</body>
</html>