<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{../css/style.css}" href="../css/style.css"/>
    <!--        <link rel="stylesheet" href="../css/fontawesome.min.css">-->
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{../css/bootstrap.min.css}" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{../css/bootstrap.bundle.min.js}" href="../css/bootstrap.bundle.min.js"/>
    <title>Zensational</title>
    <link rel="icon" type="image/x-icon" href="../imgs/lotus.png">
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<main>
<!--    <div class="client">-->
<!--        <div class="prevButtonDiv">-->
<!--            <a class="buttonLook smallButton" th:if="${client.getId}>1" th:href="@{${client.getId()-1}}"-->
<!--               th:text="'<'"></a>-->
<!--            <a class="buttonLook smallButton" th:if="${client.getId}==1" th:href="@{${endOfList}}" th:text="'<'"></a>-->
<!--        </div>-->
<!--        <div class="nextButtonDiv">-->
<!--            <a class="buttonLook smallButton" th:if="${client.getId}<${endOfList}" th:href="@{${client.getId()+1}}"-->
<!--               th:text="'>'"></a>-->
<!--            <a class="buttonLook smallButton" th:if="${client.getId}==${endOfList}" th:href="@{1}" th:text="'>'"></a>-->
<!--        </div>-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                &lt;!&ndash; hier test je of venue niet gelijk is aan null ( is er een waarde aanwezig) &ndash;&gt;-->
<!--                <div class="col-md-5" th:if="${client}">-->
<!--                    <div class="table-client">-->


<!--                        <h2 th:text="|${client.getName()} ${client.getLastName()}|">client</h2>-->
<!--                        <p th:text="|Gender :${client.getGender()}|">client</p>-->
<!--                        <p th:text="|Birthday :${client.getBirthday()}|"></p>-->
<!--                        <p th:text="|Phone number :${client.getPhoneNumber()}|"></p>-->
<!--                        <p th:text="|E-mail :${client.getEmail()}|"></p>-->
<!--                        <p th:text="|Adress :${client.getStreet()} ${client.getHousenumber()} ${client.getPostalcode()}|"></p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="kolom2" th:unless="${client}">-->
<!--                    <h2>No client has been chosen</h2>-->
<!--                </div>-->


<!--                <div class="col-md-6">-->
<!--                    <h3>Teachers :</h3>-->
<!--                    <div th:each=" personnel: ${client.getPersonnels()}">-->
<!--                        <a class="buttonLook mediumButton"-->
<!--                           th:href="@{|/personneldetails/${personnel.getId()}|}"-->
<!--                           th:text="|${personnel.getName()} ${personnel.getLastName()}|">personnel name</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div th:class="yellow_bt"><a th:href="@{|/admin/clientEdit/${client.getId()}|}" th:text="|EDIT|"></a> </div>-->

</main>
<footer>
    <div th:replace="fragments/footer :: footer">footer</div>
</footer>

</body>
</html>
