<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{../css/style.css}" href="../css/style.css"/>
    <!--        <link rel="stylesheet" href="../css/fontawesome.min.css">-->
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{../css/bootstrap.min.css}" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{../css/bootstrap.bundle.min.js}" href="../css/bootstrap.bundle.min.js"/>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/rooms.js"></script>
    <title>Zensational</title>
    <link rel="icon" type="image/x-icon" href="../imgs/lotus.png">
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<main
    <div class="container">
        <div class="row">
            <div class="col-md-11">
                <div class="table-client">
                    <h2>Clients</h2>
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon"/>
                    <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
  </span>
                    <div th:each="client: ${allclient}">
                        <a class="buttonLook mediumButton"
                           th:href="@{|/client/${client.id}|}"
                           th:text="|${client.getName()} ${client.getLastName()}|">client name</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <div th:replace="fragments/footer :: footer">footer</div>
</footer>

</body>
</html>