<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/bootstrap.bundle.min.js}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/style.css}"/>
    <title>Zensational</title>
    <link rel="icon" type="image/x-icon" href="../imgs/lotus.png">
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="achtergrondTarieven">
    <div id="hiw" class="hiw_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <p>Oeps... er is iets misgegaan!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div th:replace="fragments/footer :: footer">footer</div>
</footer>
</body>
</html>