<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{../css/style.css}" href="../css/style.css"/>
    <!--        <link rel="stylesheet" href="../css/fontawesome.min.css">-->
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{../css/bootstrap.min.css}" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{../css/bootstrap.bundle.min.js}" href="../css/bootstrap.bundle.min.js"/>
    <title>Zensational</title>
    <link rel="icon" type="image/x-icon" href="../imgs/lotus.png">
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="achtergrondTarieven">

    <div id="hiw" class="hiw_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="tarieven">
                        <h3>Public Wellness</h3>
                        <h4>Anavarin Room</h4>
                        <p>
                            Met niet minder dan 10.000 m² saunaplezier is er voor ieder wat wils en ruimte voor jezelf.
                            Maak een heuse reis door de wereld van sauna & wellness: het romeins voetenbad, de oosterse relaxatieruimte,
                            de arabische, de finse, de thaise en de panoramasauna, de marokkaanse scrub- & verzorgingsruimte, het turkse stoombad en de infraroodsauna.
                            Droom weg in onze bijzonder veelzijdige wellnessperiferie van jacuzzi's, neveldouches en veel meer
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div th:replace="fragments/footer :: footer">footer</div>
</footer>
</body>
</html>