<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{../css/style.css}" href="../css/style.css"/>
    <!--        <link rel="stylesheet" href="../css/fontawesome.min.css">-->
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{../css/bootstrap.min.css}" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{../css/bootstrap.bundle.min.js}" href="../css/bootstrap.bundle.min.js"/>
    <title>Tarieven</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>

<div class="achtergrondTarieven">

<div id="hiw" class="hiw_section layout_padding">
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="tarieven">
            <h3>Onze Tarieven</h3>
            <h4>Privé wellness</h4>
            <p>2 uur voor 2 personen: 120€</p>
            <p>3 uur voor 2 personen: 170€</p>
            <p>Groepen van min. 8 personen: 300€ voor 2u welness</p>
            <p>Vanaf het 3e uur: 50€ per uur</p>
            <p> Voor elke bijkomende persoon: 20€ per uur</p>
            <p> Na middernacht: 10€ per persoon extra per uur</p>
            <p> Kinderen onder 6 jaar: gratis</p>
            <p>Kinderen onder 6 - 12 jaar: 7,5€ per uur</p>
            </div>
        </div>
        </div>
    </div>
</div>
</div>

<footer>
    <div th:replace="fragments/footer :: footer">footer</div>
</footer>

</body>
</html>